<section class="homebanner">
	<p class="centrewrapper">Crew Shift Management<br />
		... never been easier...
	</p>
</section>
<div class="bar basecolor">
	<div class="centrewrapper">
		<form class="form-login">
			<label>Username: </label>
			<input type="text" ng-model="vm.username">&nbsp;&nbsp;
			<label>Password: </label>
			<input type="password" ng-model="vm.password">&nbsp;&nbsp;
			<button type="button" class="btn btn-primary" ng-click="vm.logMeIn()">Login</button>
		</form>
		<!-- <p class="msg"><%= msg %></p> -->
		<div class="form-footer">
			Not registered yet? <a ui-sref="signup">Sign Up here</a>
		</div>
	</div>
	<br /><br /><br /><br />
</div>